
.home-title {

width: 211px;
height: 54px;
left: 0px;
top: 39.3px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
/* identical to box height */


color: #000000;

}